@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("../assets/img/bg/bg-purple.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #eee;
  line-height: 1.5;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  background: #24252a;
  border-bottom: 2px solid #6c63ff;
  box-shadow: 0 0 10px 5px #6b63ff45;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.logo-mv {
  width: 80px;
}

.nav-list {
  display: flex;
  align-items: center;
  position: absolute;
  right: 51%;
  transform: translateX(50%);
}

.nav-list ul {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  list-style: none;
  transition: 0.3s;
}

.nav-item:hover {
  transform: scale(1.05);
}

.nav-link {
  text-decoration: none;
  color: #eee;
  font-weight: 500;
  font-size: 1.15rem;
  padding: 0.5rem 0;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #6c63ff;
}

.nav-login {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 20px;
}

.login-button {
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: #eee;
  margin-left: 1.15rem;
  font-weight: 500;
  font-size: 1.15rem;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  color: #6c63ff;
  transform: scale(1.03);
}

.cadastro-button {
  text-decoration: none;
  background: #6c63ff;
  color: white;
  font-weight: 500;
  font-size: 1.15rem;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.cadastro-button:hover {
  background: #574dcf;
  transform: scale(1.03);
}

.login-perfil {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-nome {
  margin-right: 10px;
  font-weight: 500;
}

.user-pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #6c63ff;
}

.perfil-opcoes {
  display: grid;
  gap: 5px;
}

.btn-conta {
  background-color: #7a5cf5;
  color: white;
  border: none;
  padding: 4px 7px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  margin-left: 8px;
}

.btn-conta:hover {
  background-color: #9a82ff;
}

.btn-sair {
  background-color: #d84b4b;

}

.btn-sair:hover {
  background-color: #ff6b6b;
}

.hero {
  background-image: linear-gradient(#00000099, #00000099),
    url("../assets/img/bg/gamer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 20px;
  height: 100%;
}

.name {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: #fff;
}

.slogan {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 800px;
  margin: 0 auto 20px auto;
}

.btn-start {
  scale: 1.1;
  background: #6c63ff;
  color: white;
  border: none;
  padding: 12px 25px;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-start:hover {
  transform: scale(1.05);
  background: #574dcf;
}

.cards-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.cards-list img {
  width: 180px;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cards-item {
  margin-top: 1.1rem;
  border: 2px solid transparent;
  cursor: default;
}

.cards-item:hover {
  border: 2px solid #6c63ff;
  transition: 0.3s;
  transform: scale(1.05);

}

.choose-route {
  background-color: #00000010;
  padding: 50px 20px;
  text-align: center;
}

.choose-route h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.choose-route h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.choose-route i {
  position: relative;
  top: 2px;
}

.content-route {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  text-align: center;
}

.route-img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid #6c63ff;
  box-shadow: 0 0 10px 5px #6b63ff45;
  transition: 0.3s;
}

.route-img:hover {
  transform: scale(1.03);
  border: 2px solid #574dcf;
}

.match {
  max-width: 500px;
}

.camp {
  max-width: 500px;
}

.create-bnt {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
  margin: 15px 15px;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 400;
}

.create-bnt:hover {
  background-color: #574dcf;
  cursor: pointer;
  transform: scale(1.05);
}

.find-bnt {
  background-color: transparent;
  color: #6c63ff;
  border: 2px solid #6c63ff;
  border-radius: 5px;
  padding: 8px 13px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 400;
}

.find-bnt:hover {
  transform: scale(1.05);
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #bbb;
  background: #24252a;
  border-top: 2px solid #6c63ff;
  box-shadow: 0 0 10px 5px #6b63ff45;
  font-size: 0.9rem;
  bottom: auto;
  position: sticky;
  z-index: 1000;
}

footer a {
  color: #6c63ff;
  text-decoration: none;
  margin: 0 2px;
}

footer a:hover {
  text-decoration: underline;
}