.fast-match-info {
    margin: 40px auto;
    text-align: center;
    padding: 30px auto 20px auto;
}

.fast-match-info h1 {
    font-weight: 700;
    font-size: 2.5em;
    margin-top: 10px;
}

.fast-match-info p {
    font-size: 20px;
    line-height: 1.5;
    max-width: 900px;
    margin: 0 auto;
}

.fade-line {
    height: 2px;
    width: 90%;
    margin: 30px auto 30px auto;
    background: linear-gradient(to right, transparent, #ccc, transparent);
}

.cards-list {
    width: 90%;
    display: flex;
    margin: -10px auto 30px;
}

.keys-background {
    display: none;
    background-color: rgba(0, 0, 0, 0.275);
    justify-content: space-between;
    margin: 20px auto;  
    width: 90%;
    height: auto;
    padding: 30px 50px;
    border-radius: 10px;
}

.keys {
    display: none;
}
