/* Login Page CSS */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/img/bg/bg-purple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-content {
  color: #eee;
  background-color: #24252a;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid #6c63ff;
  box-shadow: 0 0 10px #6b63ff45;
  width: 500px;
}

.login-content h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333339;
  border: none;
  outline: none;
  padding: 0 15px;
  padding-right: 50px;
  font-size: 1rem;
  color: #eee;
  border-radius: 5px;
}

.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c63ff;
  font-size: 1.2rem;
  cursor: text;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-forgot input {
  accent-color: #6c63ff;
  scale: 1.2rem;
}

.remember-forgot label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.remember-forgot a {
  color: #6c63ff;
  text-decoration: none;
  font-size: 1rem;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.input-box button {
  width: 100%;
  background: #6c63ff;
  color: white;
  border: none;
  padding: 12px 0;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.input-box button:hover {
  background: #574dcf;
}

.register-link {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
}

.register-link a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
}










/* Register Page CSS */

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/img/bg/bg-purple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.register-content {
  color: #eee;
  background-color: #24252a;
  border: 2px solid #6c63ff;
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0 0 10px #6b63ff45;
  width: 500px;
}

.register-content h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.input-box button {
  width: 100%;
  background: #6c63ff;
  color: white;
  border: none;
  padding: 12px 0;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.terms-conditions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terms-conditions input {
  accent-color: #6c63ff;
  margin-right: 7px;
  scale: 1.2rem;
}

.terms-conditions label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.terms-conditions a {
  color: #6c63ff;
  text-decoration: none;
  font-size: 1rem;
}

.terms-conditions a:hover {
  text-decoration: underline;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
}

.login-link a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  text-decoration: underline;
}

footer {
  top: 100vh;
}